@import url("https://fonts.googleapis.com/css?family=Space+Grotesk:300,500,700&display=swap");

:root {
  --dark-primary: #28004f;
  --light-primary: #803bc4;
  --very-light-primary: #dcb7ff;
  --primary: #5200a2;
  --error: #ff3f3f;

  --x-input-width: 3rem;
  --y-input-width: 6rem;

  --border-radius-1: 10px;
  --border-radius-2: 8px;
  --border-radius-3: 5px;

  --input-font-size: 25px;
}

body {
  background: var(--dark-primary);
}

* {
  font-family: "Space Grotesk";
  color: white;
  font-weight: 500;
}
